@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: var(--color-blue-600);
  --color-secondary: #64748b;
  --color-dark: #0f172a;

  --breakpoint-2xl: 1320px;

  --container-padding: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white/70 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgb(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply bg-dark my-2 block h-[2px] w-[30px];
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
